<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            />
            <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            />
        <link rel="stylesheet" href="/css/menu.css">
        <link rel="stylesheet" href="/css/welcome.css">
        <link rel="stylesheet" href="/css/fontpage.css">
        <link rel="stylesheet" href="/css/about.css">
        <title>Document</title>
    </head>
    <body>



        <!-- === NAVIGATION BAR === -->

       {{>menu}}

        <!-- === END === -->




        <!-- === WELCOME PART === -->
   
        {{>welcome}}

        <!-- === END === -->




        <!-- === FRONT PAGE === -->

        {{>fontpage}}
       
        <!-- === END === -->


        <!-- === ABOUT SECTION === -->

    <div class="aboutSection scrollon2 container-fluid">
            <h1 class="" id="about">About Me</h1>
            <p class="intro">
                My Introduction
            </p>
           <div class="about_header ">
    
    
         <div class=" aboutdivide">
             <div class="dsc mx-auto">
                    <h4>Hello,</h4>
                    <p>
                        I'm <span>AHSAN SHAKIL</span> and a <span>Full Stack</span> Web developer.
                    </p> 
                    <p class="aboutText">
                            With extensive knowledge and years of
                            exprience,working in both Frontend and Backend and
                            also ui/ux design,delivering quality work.
                        </p>
             </div>
    
         <div class=" mx-auto dsc2">
    
    
                <!-- {{! Main Header Left }} -->
    
                    <div class="divText">
                        

                        <div class="row counting">
                            <div class="col-4">
                                <div class="countdiv">
                                <div class="count">
                                    02
                                </div>
                                <div class="countName">
                                    Years <br>
                                    exprience
                                </div>
                                </div>
                               
                            </div>
                            <div class="col-4">
                                <div class="countdiv">
                                <div class="count">
                                    08
                                </div>
                                <div class="countName">
                                    Completed <br>
                                    projects
                                </div>
                                </div>
                               
                            </div>
                            <div class="col-4">
                                <div class="countdiv">
                                <div class="count">
                                    02
                                </div>
                                <div class="countName">
                                    Working <br>
                                    on
                                </div>
                                </div>
                               
                            </div>
                        </div>

                        <div class="buttons">
                            <span class="cv">
                                 <a href="#">Contact me</a>
                            </span>
                            <span class="cv">
                                <a href="#">Download CV</a>
                            </span>

                        </div>
    
                    </div>            
        </div>
        </div>
        </div>
    </div>

         <!-- === END === -->


    <script src="/js/index.js"></script>
    </body>
</html>