<div class="container-fluid main_header scrollon">
    <h1 class="bg1">WEB <br /> DEVELOPER</h1>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row main_row">

                {{! Main Header Left }}

                <div class="col-sm-6 col-12 main_header_left">
                    <div class="mainText">
                        <h5 class="name">
                            AHSAN SHAKIL
                        </h5>
                        <h1 class="heading">
                            Full Stack
                            <br />
                            Web Developer
                        </h1>
                        <p class="para1">
                            <!-- Short note comming soon....... -->
                            Over the past 9 years, as an art director and
                            designer, I’ve worked with big companies and
                            up-and-coming startups to successfully help them
                            reach their full potential and attract new
                            customers.
                        </p>
                        <div class="tags">
                            <span class="a1">
                                <a class="anchr1" href="#">View Projects</a>
                            </span>
                            <span class="a2">
                                <a class="anchr2" href="#">Read About Me</a>
                            </span>

                        </div>

                    </div>
                </div>

                {{! Main Header Right }}

                <div class="col-sm-6 col-12 main_header_right">

                </div>

            </div>
        </div>
    </div>
</div>