<div class="welcome">
    <div class="blink">
        <div class="load">
            <div class="load">
            </div>
        </div>
    </div>
    <h1 class="welcome1">Welcome</h1>
    <h2 class="welcome2">Wait a bit</h2>
</div>