* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #ffffff;
    scroll-behavior: smooth;
}

/* ===Navigation BAR=== */

.contain {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    transition: 0.3s ease-in-out;
    z-index: 1;
}

/* ============ LOGO PART ============ */

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    width: fit-content;
    margin-left: 3%;
    margin-top: 2%;
    z-index: 1;
    transition: 0.3s;
}

/* === LOGO DIV === */

.span1 {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 46px;
    font-size: 25px;
    font-weight: 700;
    height: 46px;
    border: 3px solid #000;
    border-radius: 50%;
    margin-right: 3%;
    transition: color 0.3s ease-in, border 0.3s ease-in;
}

/* === CHANGIN LOGO DIV BY HOVERING LOGO === */

.logo:hover .span1 {
    color: #878a8f;
    border: 3px solid #878a8f;
}

/* === MENU CLICK LOGO DIV CHANGING FORM === */

.span1up {
    color: #878a8f;
    border: 3px solid #878a8f;
}

/* === MENU CLICK LOGO DIV CHANGING FORM CHANGING BY HOVERING LOGO === */

.logo:hover .span1up {
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
}

/* === WELCOME SECTION LOGO DIV === */

.yes .span1 {
    color: #878a8f;
    border: 3px solid #878a8f;
}

/* === LOGO SVG === */

#svg3 {
    display: inline-block;
}
#svg3 path {
    transition: fill 0.3s ease-in;
}

/* === CHANGIN LOGO SVG BY HOVERING LOGO === */

.logo:hover svg path {
    fill: #878a8f;
}

/* === MENU CLICK LOGO SVG CHANGING FORM === */

.svgup path {
    fill: #878a8f;
}

/* === MENU CLICK LOGO SVG CHANGING FORM CHANGING BY HOVERING LOGO === */

.logo:hover .svgup path {
    fill: rgb(255, 255, 255);
}

/* === WELCOME SECTION LOGO SVG === */

.yes #svg3 path {
    fill: #878a8f;
}

/* === END OF LOGO PART === */

/* ============ LIST ITEMS ============ */

/* === LIST ITEM MAIN DIV === */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    background: #0f141e;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-out;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

/* === MENU CLICK LIST ITEM MAIN DIV CHANGING FORM === */

.openup {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* === LIST ITEM MAIN DIV CHILD UL === */

.list {
    list-style: none;
    position: absolute;
    width: 600px;
    overflow: hidden;
}

/* === LIST ITEM === */

.menu2 {
    margin-bottom: 1.5rem;
    color: #878a8f;
}

.list-item {
    font-size: 4.7rem;
    font-weight: 900;
}

/* === LIST ITEM CHILDREN A === */

.list-item a {
    text-decoration: none;
    font-weight: 700;
    color: #878a8f;
}

/* === LIST ITEM CHILDREN A HOVER EFFECT === */

.list-item:hover a {
    color: rgb(255, 255, 255);
}

/* === LIST ITEM CHILDREN SPAN === */

.line1 {
    position: absolute;
    width: 400px;
    height: 7px;
    background-color: #ffffff;
    top: 16.27%;
    left: -70%;
    transition: 0.4s ease;
}
.line2 {
    position: absolute;
    width: 400px;
    height: 7px;
    background-color: #ffffff;
    top: 35.5%;
    left: -70%;
    transition: 0.4s;
}
.line3 {
    position: absolute;
    width: 400px;
    height: 7px;
    background-color: #ffffff;
    top: 53.5%;
    left: -70%;
    transition: 0.4s;
}
.line4 {
    position: absolute;
    width: 400px;
    height: 7px;
    background-color: #ffffff;
    top: 72.5%;
    left: -70%;
    transition: 0.4s;
}
.line5 {
    position: absolute;
    width: 400px;
    height: 7px;
    background-color: #ffffff;
    top: 91%;
    left: -70%;
    transition: 0.4s;
}

/* === LIST ITEM CHILDREN SPAN HOVER EFFECT === */

.list-item:hover .line1 {
    left: 14%;
    width: 90px;
}
.list-item:hover .line2 {
    left: 15%;
    width: 90px;
}
.list-item:hover .line3 {
    left: 6.5%;
    width: 90px;
}
.list-item:hover .line4 {
    left: 13%;
    width: 90px;
}
.list-item:hover .line5 {
    left: 7.5%;
    width: 90px;
}

/* === LIST ITEM CHILDREN SPAN ACTIVE NOTATION === */

.active .line1 {
    left: 14%;
    width: 90px;
}
.active .line2 {
    left: 15%;
    width: 90px;
}
.active .line3 {
    left: 6.5%;
    width: 90px;
}
.active .line4 {
    left: 13%;
    width: 90px;
}
.active .line5 {
    left: 7.5%;
    width: 90px;
}

/* === END OF LIST ITEM PART === */

/* ============ Toggle MENU ============ */

/* === MAIN DIV TOOGLE BAR === */

.toggle-bar {
    position: absolute;
    display: flex;
    right: 3%;
    z-index: 200;
    transition: 0.3s;
    top: 50%;
    cursor: pointer;
}

/* === WELCOME SECTION MAIN DIV TOOGLE BAR === */

.yes .toggle-bar {
    display: none;
}

/* === MAIN DIV TOOGLE BAR CHILDREN SPAN === */

.menu1 {
    margin-right: 30px;
    font-weight: 700;
    font-size: 13px;
    margin-top: 10px;
    transition: 0.2s;
    cursor: pointer;
}

/* === MAIN DIV TOOGLE BAR CHILDREN SPAN HOVER EFFECT === */

.toggle-bar:hover .menu1 {
    color: #878a8f;
}

/* === AFTER CLICKING MAIN DIV TOOGLE BAR CHILDREN SPAN CHANGING FORM === */

.open .menu1 {
    color: #878a8f;
}

/* === AFTER CLICKING MAIN DIV TOOGLE BAR CHILDREN SPAN CHANGING FORM HOVER EFFECT === */

.open:hover .menu1 {
    color: rgb(255, 255, 255);
}

/* === MAIN DIV TOOGLE BAR CHILDREN BARS === */

.bars {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 30px;
}

/* === BARS CHILDREN LI === */

.bars li {
    background: #000;
    margin-bottom: 3px;
    width: 25px;
    height: 2px;
    transition: 0.3s;
}

.bars li::before,
.bars li::after {
    content: "";
    position: absolute;
    background: #000;
    width: 25px;
    height: 2px;
    transition: 0.3s;
}
.bars li::before {
    transform: translateY(-8px);
}
.bars li::after {
    transform: translateY(8px);
}
/* === BARS CHILDREN LI HOVER EFFECT === */

.toggle-bar:hover li {
    background: #878a8f;
}

.close:hover li::before {
    transform: translateY(-10px);
}
.close:hover li::after {
    transform: translateY(10px);
}

/* === AFTER CLICKING BARS CHILDREN LI CHANGING FORM === */

.open li::before {
    transform: rotate(45deg) translateY(2px) translateX(2px);
    transition: background 0.15s linear, transform 0.15s linear;
    background: #878a8f;
}
.open li::after {
    transform: rotate(-45deg) translateY(2px) translateX(-2px);
    transition: background 0.15s linear, transform 0.15s linear;
    background: #878a8f;
}
.open li {
    transform: translateX(10px);
    background: transparent;
}

/* === AFTER CLICKING BARS CHILDREN LI CHANGING FORM HOVER EFFECT === */

.open:hover li::before {
    transform: rotate(135deg) translateY(2px) translateX(2px);
    background: rgb(255, 255, 255);
}
.open:hover li::after {
    transform: rotate(45deg) translateY(2px) translateX(-2px);
    background: rgb(255, 255, 255);
}
.open:hover li {
    transform: translateX(10px);
    background: transparent;
}

/* === END OF Toggle MENU === */

/* === FINALLY END OF NAVIGATION BAR === */

/* === RESPONSIVE DESIGN === */

@media only screen and (max-width: 1200px) {
    .list-item {
        font-size: 4rem;
        font-weight: 900;
    }
}

@media only screen and (max-width: 991px) {
    .list-item {
        font-size: 3.5rem;
        font-weight: 900;
    }
}

@media only screen and (max-width: 768px) {
    .list-item {
        font-size: 3rem;
        font-weight: 900;
    }
    .line1,
    .line2,
    .line3,
    .line4,
    .line5 {
        display: none !important;
    }
    .active a {
        color: #ffffff !important;
    }
    .logo {
        margin-top: 8%;
    }
}

@media only screen and (max-width: 576px) {
    .list-item {
        font-size: 2.5rem;
        font-weight: 900;
    }

    /* ============ LOGO PART ============ */

    /* === LOGO DIV === */

    .span1 {
        width: 30px;
        font-size: 20px;
        height: 30px;
    }

    /* === LOGO SVG === */

    #svg3 {
        display: inline-block;
        width: 140px;
    }

    /* === END OF LOGO PART === */
}

@media only screen and (max-width: 376px) {
    .menu1 {
        display: none;
    }
    .contain {
        justify-content: center;
    }
    .logo {
        margin-top: 5%;
    }
    .toggle-bar {
        top: 20%;
    }
}
